html {
  height: 100%;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #153548;
    color: #4e9a8d;
  }

.loggedin {
    font-family: "Playwrite US Modern", cursive;
}

/*Layout*/

.navtop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Change this property */
    background-color: #153548;
    height: auto;
    width: 100%;
    border: 0;
    padding: 20px;
}

.links  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


/* Initial color of the h1 element */
.title, .first_title {
  font-family: "Playwrite US Modern", cursive;
  color: #9AE8B7;
  transition: all 0.5s ease; /* Smooth transition */
  font-weight: bolder;
}

/* Color of the h1 element on hover */
.title:hover {
  color: #DAA1E5;
  font-size: 30px;
}

.first_title {
  font-size: 50px;
}
.first_title:hover {
  color: #DAA1E5;
  font-size: 60px;
}

/*Style of the buttons*/
.button_class {
  font-family: "Playwrite DE Grund", cursive;
  background-color: #1A545D;
  color: #9AE8B7;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 16px;
  width: 100px;
  text-align: center;
  box-shadow: 0 4px 8px #153548;
  border: none;
  transition: all 0.3s ease; /* Smooth transition */
}

button.button_class {
  border: 1px solid transparent; /* Ensures consistency with <a> */
  background-color: #1A545D;
  color: #9AE8B7; /* Ensures text color matches <a> */
  cursor: pointer; /* Ensures cursor pointer is consistent */
  font-size: 16px; 
  width: 120px;
  padding: 10px;
  padding: 8px 15px; 
}
.button_class:hover {
    background-color: #9AE8B7 ;
    color: #1A545D;
    box-shadow: 0 6px 10px #DAA1E5;
    font-weight: bold;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden; /* Prevent overflow */
}

.by_me {
  font-family: "Playwrite DE Grund", cursive;
  margin-bottom: 40px;
  color:#DAA1E5;
}

.profile_title {
  color: #DAA1E5;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite DE Grund", cursive;
  color:#DAA1E5;
  background-color: #153548;
  width: 100%;
}

/*Styling the "landing page"*/
.main_landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(120deg, #153548, #102a3f); 
}

/*Just me trying to style the profile card, why not?*/
.profile_card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #1A545D;
  color: #9AE8B7;
  width: 500px;
  max-width: 500px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px #DAA1E5;
  margin: 20px;
}

.profile_table {
  display: flex;
  flex-direction: column;
  font-family: "Playwrite DE Grund", cursive;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 10px;
}
.lilac_text {
  color: #DAA1E5;
  font-weight: bold;
}

/*Styling the form*/
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70%;
  max-width: 500px;
  border-radius: 16px;
  padding-top: 20px;
  padding-bottom: 50px; 
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  text-align: center;
  background-color: rgba(21, 53, 72, 0.5);
}

.login_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9AE8B7;
  background-image: linear-gradient(120deg, #153548, #9ae8b7);

}

/*Form inputs*/
.form_inputs, .form_inputs_username, .form_inputs_email, .form_inputs_password, .form_inputs_password_confirm  {
  font-family: "Playwrite DE Grund", cursive;;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 50px 20px 50px;
}

.form_inputs_password {
  margin-right: 43px;
}

.form_inputs_password_confirm {
  margin-right: 120px;
}

.form_inputs_username {
  margin-right: 111px;
}

.form_inputs_email {
  margin-right: 90px;
}

.inputs {
  border-radius: 16px;
  padding: 5px;
  border-style: none;
  background-color: #E8EEEE;
  font-family: "Playwrite DE Grund", cursive;
  text-align: center;
}

/*Hide the password reveal button*/
input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-field,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}
p {
  font-family: "Playwrite DE Grund", cursive;
  color: #DAA1E5;
}

.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
}

.eye {
  cursor: pointer;
}
