{% extends 'layout.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<form action="{{ url_for('change_password') }}" method="post" autocomplete="off">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    <label for="old_password">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="old_password" placeholder="Actual Password" id="old_password" aria-label="Password">
    <label for="new_password">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="new_password" placeholder="New Password (leave blank if not changing)" id="new_password" aria-label="Password">
    <div>
        <p id="not_match"></p>
    </div>
    <label for="confirm_password">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="confirm_password" placeholder="Confirm password" id="confirm_password" aria-label="Password">
    <input type="submit" value="Edit">
</form>
{% endblock %}

