<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">
    <title>Login Page</title>
</head>
<body class="login_body">
    <div>
        <form class="login_form" action="{{ url_for('login') }}" method="post">
            <h2 class="title">Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            <div class="form_inputs">
                <label class="lilac_text" for="username">Username:</label>
                <input class="inputs" type="text" id="username" name="username" required>
            </div>
            <p id="message_p"></p>
            <div class="form_inputs">
                <label class="lilac_text" for="password">Password:</label>
                <input class="inputs" type="password" id="password" name="password" required>
            </div>
            <div class="button_section">
                <button type="submit" class="button_class">Login</button>
                <a href="{{ url_for('register') }}" class="button_class"> Register</a>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
</body>
</html>
