<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div >
				<h1 class="title">Website Title</h1>
			</div>
			<div class="links">
				<a href="{{ url_for('home') }}"> <button class="button_class">Home</button></a>
			    <a href="{{ url_for('profile') }}"> <button class="button_class">Profile</button></a>
			    <a href="{{ url_for('logout') }}"> <button class="button_class">Logout</button></a>
			</div>
		</nav>
		  {% block content %}{% endblock %}
        <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
		<script src="{{ url_for('static', filename='js/inactivity.js') }}"></script>
	</body>
</html>