{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="center-content">
    <div class="profile_card">
        <h2 class="profile_title">Profile Page</h2>
        <p>Your account details are below:</p>
      <table class="profile_table">
        <tr>
            <td class="lilac_text">Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td class="lilac_text" >Password:</td>
            <td>******</td>
        </tr>
        <tr>
            <td class="lilac_text">Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
    <div class="button_section">
        <a href="{{ url_for('edit_profile') }}"> <button class="button_class">Edit Profile</button></a>
    </div>
  
    </div>
</div>
{% endblock %}